/* nav start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: "Arimo", sans-serif;


}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #575757;

}

.common-btn button {
    margin-bottom: 20px;
    color: white;
    background-color: #1D4ED8;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
}

.common-btn button:hover {
    background-color: black;
}


/* banner css */
.meeting img {
    position: relative;
    width: 100%;
    height: max-content;
    display: block;
}

.banner-text {
    position: absolute;
    text-align: center;
    position: relative;
    bottom: 800px;
    left: 20px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

}

.banner-text h2 {
    font-size: 110px;
}

.banner-text h6 {
    font-size: 30px;
}

.common-btn-2 {
    display: flex;
    justify-content: center;
}

.common-btn-2 button {
    position: relative;
    top: -300px;
    color: white;
    background-color: #1D4ED8;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.common-btn-2 button:hover {
    background-color: black
}

/* speakrs info */

.heading p {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    margin-top: -200px;
    font-family: "Inter", sans-serif;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker {
    padding: 30px;
    text-align: center;
    border: 1px solid #D1D5DB;
    border-radius: 10px;

}

.speaker h2 {
    color: #2563EB;
}

.speaker h1 {
    font: bold;
}

.speaker h3 {
    color: #575757;
}

.speaker h2,
h1,
h3 {
    margin-left: 50px;
    padding: 5px;
    text-align: left;
    font-family: "Inter", sans-serif;
}

/* price cards css */
.standard{
    text-align: start;
}
.head h3,
h6 {
    display: flex;
    justify-content: center;

}

.head h3 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.head h6 {
    font-size: 15px;
    margin-bottom: 50px;
    color: #575757;
    font-family: "Inter", sans-serif;

}
/* card */
.parent {
    max-width: 80px 0;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   font-family: "Inter", sans-serif;
}

.standard,
.pro,
.team {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid;

}


.standard hr,
.pro hr,
.team hr {
    margin: 20px 0;
}

.standard ul,
.pro ul,
.team ul {
    padding-left: 20px;
    
}

.standard,
.pro,
.team {

    text-align: left;

}

.standard li,
.pro li,
.team li {
    margin-bottom: 10px;
}

.pro {
    color: white;
    background-color: #164d8d;
    
}
.pro h1, .standard h1, .team h1{
    font-size: 10px;
    text-align:start;
    
}
.pro h2, .standard h2, .team h2{
    text-align: left;
    margin-left: 30px;
    padding-left: 0;
}



/* button */
.pro-button {
    display: block;
    margin: 20px auto;
    margin-top: 60px;
    color: white;
    background-color: #1D4ED8;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: 20px;

}

.pro-button:hover {
    background-color: black;
}

.standard-btn {
    display: block;
    margin: 30px auto;
    margin-top: 60px;
    color: blue;
    background-color: white;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.standard-btn:hover {
    background-color: black;
}

.team-button {
    display: block;
    margin: 30px auto;
    margin-top: 60px;
    color: blue;
    background-color: white;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.team-button:hover {
    background-color: black;
}
/* Hackathon Section */

.hackathon {
    background: #0d1117;
    padding: 100px 10%;
    margin-top: 50px;
}

.hackathon-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.hackathon h2 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.hackathon-text {
    color: #b0b0b0;
    font-size: 18px;
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
}

.hackathon-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-bottom: 60px;
    
}

.card {
    background: #161b22;
    padding: 35px;
    border-radius: 15px;
    border: 1px solid #2f3542;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #6c63ff;
    box-shadow: 0 0 20px rgba(108,99,255,.4);
}

.card h3 {
    color: #6c63ff;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}

.card p {
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.register-btn {
    padding: 16px 40px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,#6c63ff,#8b5cf6);
    color: white;
    cursor: pointer;
    transition: .3s;
}

.register-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(108,99,255,.6);
}

/* footer */
footer{
    background-color: #0B1120;
    padding: 30px 80px;
    border-top: 1px solid #2d3748;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer p{
    color: #94A3B8;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons img{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.footer-links{
    display: flex;
    gap: 25px;
}

.footer-links a{
    text-decoration: none;
    color: #94A3B8;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
}

.footer-links a:hover{
    color: #ffffff;
}

